.element__like {
  background-image: url('../../../images/element-like.svg');
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  background-size: contain;
  background-color: rgba(255, 255, 255, 1);
  transition: .5s;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}
