.element__delete {
  background: url('../../../images/trash.svg');
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0);
  transition: .5s;
  cursor: pointer;
}

.element__delete:hover {
  opacity: .5;
}
