.form__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  display: block;
  margin: 0;
  max-width: 358px;
  min-height: 30px;
}

.form__input-error:last-of-type {
  margin-bottom: 18px;
}

@media screen and (max-width: 600px) {
  .form__input-error {
    max-width: 238px;
  }
}

@media screen and (max-width: 600px) {
  .form__input-error:last-of-type {
    margin-bottom: 15px;
  }
}
