.popup__add-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 32px;
  padding: 0 0 10px;
}

.popup__add-item:focus {
  outline: 0;
}

@media screen and (max-width: 600px) {
  .popup__add-item {
    margin: 0 0 30px;
  }
}
