.profile__add-button {
  margin: 0;
  transition: opacity 1s ease;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}
