.profile__avatar {
  max-width: 120px;
  padding: 0;
  margin-right: 30px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

@media screen and (max-width: 599px) {
  .profile__avatar {
    margin: 0 0 26px;
  }
}
