.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "status .";
  column-gap: 18px;
  align-items: baseline;
  max-width: 336px;
}

@media screen and (max-width: 675px) {
  .profile__info {
    max-width: 282px;
  }
}


@media screen and (max-width: 599px) {
  .profile__info {
    grid-template-areas:
      "name edit"
      "status status";
    text-align: center;
    column-gap: 10px;
  }
}
